@import "site.css";

:root {
  --color-background: #ADD7F6;
  --color-logo-a: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: rgb(48, 48, 48);
  }
}

a {
  color: rgba(var(--color-logo-a), 0.7);

p {
  color: var(--color-logo-body);
}

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

body {
  background-color: var(--color-background);
  background-image: var(--background-gradient);
  padding: 18vh 1rem;
  text-align: center;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.homepage-wrapper {
  position: relative;
  width: 90vw;
  height: 1vh;
  margin: auto;
}

.homepage-wrapper h1{
  font-size: 10vmin;
  text-align: center;
  transition: .5s;
  color: #FFF;
  /* background-image: linear-gradient(to right, #192bc2 0%, #6381DC 100%); */
}

.homepage-menu {
  position: fixed;
  top: 50vh;
  width: 90vw;
  height: 1vh;
  margin: auto;
}

.homepage-menu p, a {
  font-size: 5vmin;
  color: #FFF;
  transition: .5s;
  vertical-align: sub;
  text-decoration: underline; 
}

.homepage-menu p:hover, a:hover {
  color: #adb5bd;
}
