@import "./fonts/fonts.css";

:root {
  --color-body: #000;
  --color-background: #FFF;
  --color-logo-body: #FFF;
  --background-gradient: linear-gradient(45deg, rgba(0,75,168,1) 0%, rgba(99,129,220,1) 73%);
  font-family: IBM-Plex-Serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-body: #FFF;
    --color-background: rgb(48, 48, 48);
    --background-gradient: linear-gradient(45deg, rgba(20,27,65,1) 0%, rgba(21,5,120,1) 55%);
  }
}

html {
    height: 1vh;
}

body {
  color: var(--color-body);
  background-color: var(--color-background);
  text-align: left;
}

.highlight {
  display: inline;
  vertical-align: center;
  background: #192bc2;
  color: #fff;
  padding-top: 1%;
  padding-bottom: .25%;
  word-wrap: break-word;
  margin: auto;
}

.highlight-shadow {
  box-shadow: .25em 0 0 #192bc2, -.25em 0 0 #192bc2;
  margin: auto;
}

.banner {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0%;
  right: 0%;
  height: 8vmin;
  background-image: var(--background-gradient);
  font-size: 1.5vmin;
}

.banner-logo {
 margin-left: 1%;
}

.banner-logo h1, a {
  color: var(--color-logo-body);
  transition: .5s;
  text-decoration: none;
}

.banner-menu {
  margin-left: auto;
  white-space: nowrap;
  margin-right: 1%;
  font-size: 2vmin;
  color: var(--color-logo-body);
}

.banner-menu p {
  margin: 0;
}

.homepage-menu h1:hover, a:hover {
  color: #adb5bd;
}

.page-content {
  margin-top: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
  position: absolute;
  z-index: -1;
}
