---
title: MYBE - home
---
<head>
  <%= stylesheet_link_tag "index" %>
</head>


<div class="homepage-wrapper">
  <h1 class="highlight highlight-shadow">
    Minnesota Youth for a Better Environment</h1>

  <br><br><br><br>

  <div class="hompage-menu highlight highlight-shadow">
    <a href="./what-we-do">what we do</a>
    <br><br>
    <a href="./about-us">about us</a>
    <br><br>
    <a href="./get-involved">get involved</a>
  </div>
</div>
